*{
    margin: 0;
    padding: 0;
}
.nav{
    background: black;
    min-height: 100vh;
    width: 100%;
}
.top{
    background: blue;
    height: 100px;
    width: 100px;
}
.left{
    background: red;
    min-height: 100px;
    width: 100px;
    margin-left: 100px;
}
.right{
    background: green;
    height:100px;
    width: 100px;
    margin-left: 200px;
}
.buttom{
    background: yellow;
    height: 100px;
    width:100px;
    margin-left: 300px;
}